In [1]:
import numpy as np
import pandas as pd

### Read in am articles

In [2]:
am_raw = pd.read_csv('./adverse/am.csv', encoding='latin1', error_bad_lines=False, sep="\t")
am1 = am_raw[["article", "label", "title"]]
am_raw2 = pd.read_csv('./adverse/am2.tsv', encoding='latin1', error_bad_lines=False, sep="\t")
am2 = am_raw2[["article", "label", "title"]]
am = pd.concat((am1, am2))

random_from_am = am[am["label"] == "random"]
nam_from_am = am[am["label"] == "nam"]

am = am[(am["label"] == "am")]
am.dropna()
"done"

'done'

### Read in nam articles

In [3]:
nam_raw = pd.read_csv('./nonadverse/nam.csv', encoding='latin1', error_bad_lines=False, sep="\t")
nam1 = nam_raw[["article", "label", "title"]]

In [4]:
nam_raw2 = pd.read_csv('./nonadverse/nam2.tsv', encoding='latin1', error_bad_lines=False, sep="\t")
nam2 = nam_raw2[["article", "label", "title"]]

In [5]:
random_raw = pd.read_csv('./nonadverse/random.csv', encoding='latin1', error_bad_lines=False, sep="\t")
random = random_raw[["article", "label", "title"]]

In [6]:
nam = pd.concat((nam1, nam2, random, random_from_am, nam_from_am))
am_from_nam = nam[nam["label"] == "am"]
am = pd.concat((am, am_from_nam))
nam = nam[(nam["label"] == "nam") | (nam["label"] == "random")]

In [7]:
am.reset_index(drop=True, inplace = True)
nam.reset_index(drop=True, inplace = True)

In [8]:
total = pd.concat((am, nam))
total["label"].replace(to_replace={"random":"nam"}, inplace=True)
total.dropna()
total.reset_index(drop=True, inplace = True)
total["label"].value_counts()

am     684
nam    534
Name: label, dtype: int64

In [9]:
total.head()

,article,label,title
0,"Bernie Madoff, who is scheduled to be sentence...",am,Top 10 Crooked CEOs
1,Published\n\nOne of the world's leading fund m...,am,Top fund manager forced to resign after BBC in...
2,Published\n\nThe founder of US futures broker ...,am,Peregrine Financial Group boss admits $100m fraud
3,WASHINGTON (AP) â An American security contr...,am,American accuses Congo officials of unlawful a...
4,"A senior figure in the Bitcoin Foundation, whi...",am,Bitcoin Foundation vice chair arrested for mon...

In [11]:
total.to_csv("cleaned_with_title_am_nam.csv", sep="\t")